<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311287408399-rrtse4jjb1ur84pbqen6agg4hle78428.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311287408399-rrtse4jjb1ur84pbqen6agg4hle78428</string>
	<key>API_KEY</key>
	<string>AIzaSyCJ7tLG9414Hnltd_AgETQYSL9oya_ao5w</string>
	<key>GCM_SENDER_ID</key>
	<string>311287408399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>petrichoro7.SmartMoney</string>
	<key>PROJECT_ID</key>
	<string>smartmoney-orbital</string>
	<key>STORAGE_BUCKET</key>
	<string>smartmoney-orbital.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311287408399:ios:75ac78a1a48411ec7e807a</string>
	<key>DATABASE_URL</key>
	<string>https://smartmoney-orbital-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>